* {
  /* border: 1px solid red; */
}

.aboutContainer {
  width: 100%;
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* Text content */
.textContent {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Title */
.title {
  line-height: 1;
  font-size: 4rem;
  font-style: italic;
  margin-bottom: 0.75rem;
  transition: 0.3s ease-in;
}

/* Description */
.description {
  gap: 1rem;
  display: flex;
  margin-bottom: 2rem;
  flex-direction: column;
  transition: 0.3s ease-in;
}

.description p {
  line-height: 1.5;
  font-size: 1.15rem;
  text-align: justify;
  transition: 0.3s ease-in;
}

.description p strong {
  font-weight: 700;
  color: var(--primary);
  text-transform: uppercase;
  text-shadow: 0px 0px 10px hsl(204, 100%, 50%, 0.75);
}

/* Image */
.imageContainer {
  width: 100%;
  display: flex;
  margin-bottom: 1rem;
  justify-content: center;
}

.profileImage {
  width: 100%;
  height: auto;
  cursor: pointer;
  object-fit: cover;
  border-radius: 0.5rem;
  transform-style: preserve-3d;
  transition: transform 0.1s ease-out;
  box-shadow: 10px 10px 10px hsla(0, 0%, 0%, 0.25);
}

/* Divider */
.divider {
  width: 100%;
  height: 2px;
  margin: 1rem 0;
  background-color: var(--primary);
  box-shadow: 0px 0px 10px hsl(204, 100%, 50%);
}

/* Technologies */
.technologiesSection {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.technologiesTitle {
  font-size: 4rem;
  font-style: italic;
  margin-bottom: 0.5rem;
  transition: 0.3s ease-in;
}

/* Tablet responsiveness */
@media (max-width: 768px) {
  .title {
    font-size: 3rem;
  }

  .description p {
    font-size: 1rem;
  }

  .technologiesTitle {
    font-size: 3rem;
  }

  .technologiesList {
    gap: 2rem;
  }

  .techSubheading {
    font-size: 1.15rem;
  }

  .techItem {
    font-size: 1rem;
  }
}

/* Make technologies list go on top of each other */
@media (max-width: 550px) {
  .technologiesList {
    gap: 1rem;
    flex-direction: column;
  }
}

/* Mobile responsiveness */
@media (max-width: 480px) {
  .title {
    font-size: 2.25rem;
  }

  .description {
    margin-bottom: 1rem;
  }

  .description p {
    font-size: 0.95rem;
  }

  .imageContainer {
    margin-bottom: 0.75rem;
  }

  .technologiesTitle {
    font-size: 2.25rem;
  }

  .techSubheading {
    font-size: 1.25rem;
  }

  .techItem {
    font-size: 1.15rem;
  }
}
