.individualProjectContainer {
  width: 100%;
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* Project not found */
.individualProjectContainer h1 {
  line-height: 1;
  font-size: 4rem;
  text-align: center;
  font-style: italic;
  margin-bottom: 0.5rem;
  transition: 0.3s ease-in;
}

.individualProjectContainer p {
  line-height: 1.5;
  font-size: 1.15rem;
  text-align: center;
  transition: 0.3s ease-in;
  color: var(--text-secondary);
}

/* Tablet responsiveness */
@media (max-width: 768px) {
  .individualProjectContainer h1 {
    font-size: 3rem;
  }
}

/* Mobile responsiveness */
@media (max-width: 480px) {
  .individualProjectContainer h1 {
    font-size: 2.25rem;
    margin-bottom: 0.25rem;
  }

  .individualProjectContainer p {
    font-size: 1rem;
  }
}
