.header {
  top: 1rem;
  z-index: 999;
  position: sticky;
  padding: 1rem 1.25rem;
  transition: 0.3s ease;
  border-radius: 0.5rem;
  width: calc(100% - 2rem);
  margin: 1rem auto 0rem auto;
  backdrop-filter: blur(100px);
  background-color: transparent;
  box-shadow: var(--shadow-small);
  border: 1px solid var(--primary);
}

/* Show mobile header on scroll up */
.visible {
  transform: translateY(0%);
}

/* Hide mobile header on scroll down */
.hidden {
  transform: translateY(-150%);
}

.headerContainer {
  width: 100%;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

/* Desktop layout */
.desktopLayout {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.logo {
  font-weight: 500;
  font-size: 1.5rem;
  font-style: italic;
  transition: 0.3s ease;
  font-family: var(--font-kode-mono), monospace;
}

/* Site navigation */
.navContainer {
  gap: 1rem;
  display: flex;
  align-items: center;
  transition: 0.3s ease;
  justify-content: center;
}

.navItems {
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navItems a {
  position: relative;
  font-size: 1.25rem;
  padding: 0.25rem 0rem;
  transition: 0.3s ease;
  font-family: var(--font-kode-mono), monospace;
}

/* Hover underline effect */
.navItems a::before {
  width: 0;
  left: 50%;
  bottom: 0;
  height: 2px;
  content: "";
  position: absolute;
  transition: 0.3s ease;
  transform: translateX(-50%);
  background-color: var(--primary);
}

.navItems a:hover:not(.activeLink)::before {
  width: 100%;
}

/* On hover, prevent hover effect on active link */
.navItems a:hover:not(.activeLink) {
  transform: translateY(-3px);
  color: var(--text-secondary);
}

/* Active link */
.navItems a.activeLink {
  border-bottom: 2px solid var(--primary);
}

/* Separator */
.separator {
  font-size: 1.25rem;
  transition: 0.3s ease;
}

/* Theme button */
.themeButton {
  font-size: 1.15rem;
  transition: 0.3s ease;
  color: var(--text-primary);
  backdrop-filter: blur(100px);
  background-color: transparent;
}

.themeButton:hover {
  transform: scale(1.25);
  color: var(--text-secondary);
}

/* Resume button */
.resumeButton {
  font-weight: 500;
  font-size: 1.15rem;
  transition: 0.3s ease;
  border-radius: 0.5rem;
  padding: 0.35rem 0.65rem;
  color: var(--text-primary);
  box-shadow: var(--shadow-small);
  border: 2px solid var(--primary);
  font-family: var(--font-kode-mono), monospace;
  background-color: var(--footer-bg-color);
}

.resumeButton:hover:not(:disabled) {
  transform: scale(1.15);
  color: hsl(0, 0%, 100%);
  box-shadow: var(--shadow-large);
  background-color: var(--primary);
}

.resumeButton:disabled {
  opacity: 0.75;
  transform: none;
  cursor: not-allowed;
}

@media (max-width: 800px) {
  .header {
    padding: 0.95rem 1.15rem;
  }

  .logo {
    font-size: 1.25rem;
  }

  .navContainer {
    gap: 0.75rem;
  }

  .navItems {
    gap: 0.75rem;
    font-size: 1.15rem;
  }

  .separator {
    font-size: 1.15rem;
  }

  .themeButton {
    font-size: 1rem;
  }

  .resumeButton:hover:not(:disabled) {
    transform: scale(1.1);
  }
}

@media (max-width: 700px) {
  .logo {
    font-size: 1.15rem;
  }

  .navContainer {
    gap: 0.65rem;
  }

  .navItems {
    gap: 0.65rem;
    font-size: 1rem;
  }

  .separator {
    font-size: 1rem;
  }

  .themeButton {
    font-size: 0.95rem;
  }

  .themeButton:hover {
    transform: scale(1.15);
  }

  .resumeButton {
    font-size: 0.95rem;
  }
}

@media (max-width: 635px) {
  .themeButton:not(.sidebarThemeButton) {
    display: none;
  }
}

@media (max-width: 605px) {
  .separator {
    display: none;
  }
}

@media (max-width: 585px) {
  .resumeButton:not(.sidebarResumeButton) {
    display: none;
  }
}

/* Mobile layout */
.mobileLayout {
  width: 100%;
  display: none;
  align-items: center;
  justify-content: space-between;
}

/* Phone button */
.phoneButton {
  display: none;
  background: none;
  font-size: 1rem;
  transition: 0.3s ease;
  color: var(--text-primary);
}

.phoneButton:hover {
  transform: scale(1.15);
  color: var(--text-secondary);
}

/* Mobile logo */
.mobileLogo {
  font-weight: 500;
  font-size: 1.25rem;
  font-style: italic;
  font-family: var(--font-kode-mono), monospace;
}

/* Hamburger menu */
.hamburger {
  display: none;
  background: none;
  font-size: 1.15rem;
  transition: 0.3s ease;
  color: var(--text-primary);
}

.hamburger:hover {
  transform: scale(1.15);
  color: var(--text-secondary);
}

.hamburger i {
  transition: transform 0.3s ease-in-out;
}

.hamburger i.spin {
  animation: hamburgerSpin 0.3s ease-in-out;
}

/* Hamburger spin animation */
@keyframes hamburgerSpin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Hide desktop layout and show mobile layout */
@media (max-width: 495px) {
  .header {
    padding: 0.85rem 1rem;
  }

  .desktopLayout {
    display: none;
  }

  .mobileLayout {
    display: flex;
  }

  .phoneButton,
  .hamburger {
    display: block;
  }
}

/* Sidebar */
.sidebarOverlay {
  inset: 0;
  z-index: 999;
  display: flex;
  position: fixed;
  background: hsla(0, 0%, 0%, 0.75);
}

.sidebar {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 1.25rem;
  max-width: 250px;
  position: relative;
  flex-direction: column;
  box-shadow: var(--shadow-small);
  background-color: var(--footer-bg-color);
}

/* Sidebar close button */
.sidebarClose {
  top: 1.25rem;
  left: 1.25rem;
  background: none;
  position: absolute;
  font-size: 1.15rem;
  transition: 0.3s ease;
  color: var(--text-primary);
}

.sidebarClose:hover {
  transform: scale(1.25);
  color: var(--text-secondary);
}

/* Sidebar site navigation */
.sidebarNavItems {
  display: flex;
  margin-top: 2.5rem;
  flex-direction: column;
}

.sidebarNavItems a {
  font-size: 1.25rem;
  transition: 0.3s ease;
  margin-left: -1.75rem;
  padding: 0.5rem 1.75rem;
  font-family: var(--font-kode-mono), monospace;
}

/* On hover, prevent hover effect on active link */
.sidebarNavItems a:hover:not(.activeLink) {
  transform: translateX(5px);
  color: var(--text-secondary);
}

/* Active link */
.sidebarNavItems a.activeLink {
  position: relative;
  color: white;
  margin-left: -1.75rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1.75rem;
  background-color: hsla(204, 100%, 50%);
}

.sidebarSeparator {
  height: 2px;
  border: none;
  margin: 1rem 0rem;
  background-color: var(--text-primary);
}

/* Sidebar resume button */
.sidebarResumeButton {
  gap: 0.5rem;
  display: flex;
  padding: 0.5rem;
  font-size: 1.25rem;
  align-items: center;
  transition: 0.3s ease;
  border-radius: 0.5rem;
  justify-content: center;
  color: hsl(0, 0%, 100%);
  box-shadow: var(--shadow-small);
  background-color: var(--primary);
  font-family: var(--font-kode-mono), monospace;
}

.sidebarResumeButton:hover:not(:disabled) {
  transform: scale(1.05);
  box-shadow: var(--shadow-large);
}

.sidebarResumeButton:disabled {
  opacity: 0.75;
  transform: none;
  cursor: not-allowed;
}

/* Sidebar footer */
.sidebarFooter {
  gap: 0.75rem;
  display: flex;
  box-shadow: none;
  margin-top: auto;
  flex-direction: column;
  align-items: flex-start;
  color: var(--text-secondary);
}

/* Ensure all icons take up consistent width */
.sidebarFooter i {
  width: 1.25rem;
  flex-shrink: 0;
  text-align: center;
}

/* Sidebar theme button */
.sidebarThemeButton {
  gap: 0.75rem;
  display: flex;
  font-size: 1.15rem;
  align-items: center;
  transition: 0.3s ease;
  color: var(--text-secondary);
  font-family: var(--font-kode-mono), monospace;
}

.sidebarThemeButton:hover {
  color: var(--text-primary);
  transform: translateX(5px);
}

/* Sidebar legal pages */
.sidebarFooter a {
  gap: 0.75rem;
  display: flex;
  font-size: 1.15rem;
  align-items: center;
  transition: 0.3s ease;
  color: var(--text-secondary);
  font-family: var(--font-kode-mono), monospace;
}

.sidebarFooter a:hover {
  color: var(--text-primary);
  transform: translateX(5px);
}
